{% extends 'base.html.twig' %}

{% block title %}Add category{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.name) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{%  endblock %}
