{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div>
        <h2>Category : {{ category.name }}</h2>
        <h3> Id : {{ category.id }}</h3>
    </div>

    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>

{% endblock %}